body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:  #f3f4f6;
}
.login-box{
    text-align: center;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 300px;
}
input{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 15px;
}
button{
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
#label1{
    font-weight:bolder;
    font-size: 2rem;
}