body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center; /* Center body content vertically */
}

header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

footer {
    min-height: 50px;
    margin-top: auto;
}

.about {
    position: relative;
    padding: 50px;
    text-align: center;
}

button {
    padding: 10px;
    font-family: inherit;
    font-size: larger;
    width: 250px;
    background-color: rgb(255, 239, 213);
    border-radius: 15px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

button:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

button:active {
    background-color: rgb(235, 206, 161);
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-left: 90%;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    max-height: 150vh;
    
}

.container button {
    margin-top: 30px;
}

.container .box {
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;
}


.container .gamebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid black;
    box-sizing: border-box;
    gap: 40px;
    align-items: center;
    background-color: #90AEAD;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.gamebox:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.container .gamebox img {
    max-height: 150px;
    width: auto;
    max-width: 200px;
}

.container .gamebox p {
    font-weight: 100;
    font-size: 22px;;
    text-align: center;
    margin: 0;
    flex: 1;    
}
